@charset "UTF-8";
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "FFFFORWA";
    src: url("../fonts/FFFFORWA.ttf");
}

@font-face {
    font-family: "3DFonts";
    src: url("../fonts/3D-Thirteen-Pixel-Fonts.ttf");
}


@font-face {
    font-family: "ka1";
    src: url("../fonts/ka1.ttf");
}


@font-face {
    font-family: "manaspc";
    src: url("../fonts/manaspc.ttf");
}


html {
    font-size: 100%;
}

body {
    font-size: 0.9em;
    font-family: "FFFFORWA";
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    background-image: url("../img/page/64x64-tile-rocky.png");
    background-color: #000000;
    background-repeat: repeat;
}

img {
    height: auto;
    max-width: 100%;
    margin: auto;
    padding: 10%;
}

h2 {
    font-size: 6vw;
    text-align: center;
    font-family: "manaspc";
    color: #ffffff;
    top: 30%;
    left: 35%;
    text-shadow:
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 23px #fff,
    0 0 83px #32cfee;
    position: absolute;
    z-index: 2;
}

a {
    color: #29b6f6;
    text-decoration: none;
}

p {
    color: #ffffff;
    text-decoration: blanchedalmond;
}

#c { width: 100%;
     height: 15vw;
     background-color: white;
     position: relative;
     z-index: 1;
   }

   #stars
   {

       background-color: rgba(0, 0, 0, 0);
       position: relative;
   }

a:hover {
    text-decoration: underline;
}

.site__wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.site__info {
    clear: both;
    display: block;
    font-variant: small-caps;
    letter-spacing: 2px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

.grid {
    float: none;
    width: 100%;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.4em;
    
    
}

@media screen and (min-width: 40.063em) {
    .grid {
        float: left;
        width: 33.333%;
    }
}

.card__image {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    min-height: 240px;
    overflow: hidden;
    position: relative;
}

.card__image>img {
    display: block;
    margin-bottom: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.card__image:hover>img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.card__title {
    color: #8223b1;
    display: inline-block;
    font-family: "FFFFORWA";
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.card__title:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.card__overlay {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 16px;
    width: 100%;
    z-index: 1;
}

.card__overlay--indigo {
    background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgba(92, 107, 192, 0.8));
    z-index: 2;
}

.shadow-outside {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-size: auto;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(104, 104, 104, 0.8));
    filter: drop-shadow(10px 25px 2px #000000);
}

.card__overlay--pixelgradient {
    background-repeat: repeat-x;
    background-blend-mode: overlay;
    background-image: url("../img/page/bayernmatrix.png");
    z-index: 2;
}

.card__overlay-content {
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    z-index: 3;
}

.card__meta {
    margin: 0;
    margin-right: -1em;
    margin-bottom: 0.75em;
}

.card__meta.card__meta--last {
    margin-bottom: 0;
}

.card__meta li {
    color: #f8f8f8;
    display: inline;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1em;
    font-size: 0.85em;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.card__meta li:not(:last-child):after {
    content: "â—";
    font-style: normal;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    right: -0.6em;
}

.card__meta li>a {
    color: #f8f8f8;
}



